[class^="DatabaseExplorer"] {
  textarea {
    width: calc(100% - 2ch);
  }

  td {
    max-width: 20vw;
  }

  code {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 2ch);
  }

  .controls {
    align-items: center;
    display: flex;
    gap: 1ch;

    button {
      align-self: stretch;
    }
  }
}
