[class^="Group"] {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  > :first-child {
    align-items: center;
    background: whitesmoke;
    display: flex;
    gap: 1ch;
    padding: 1ch;

    > :last-child {
      margin-left: auto;
    }
  }

  span.stamp {
    font-variant-numeric: tabular-nums;
  }

  span.weekendDay {
    color: maroon;
  }

  span.weekDay {
    color: gray;
  }

  span.today {
    color: gray;
  }

  span.tomorrow {
    color: gray;
  }
}
