body {
  display: flex;
  flex-direction: column;
  font: normal 12px sans-serif;
  gap: 1ch;
}

div.composer {
  display: flex;
  gap: 1ch;
}

div.hint {
  padding: 2px;
  margin: 1px;
}

textarea {
  flex: 1;
  font: inherit;
}

div.list {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  list-style-type: none;
  padding: 0;
}

fieldset.item {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

input[type="file"] {
  display: none;
}

fieldset.item:hover {
  background: whitesmoke;
}

legend {
  align-items: center;
  display: flex;
  gap: 1ch;
}

span.placeholder {
  color: gray;
}

div.metadata {
  display: flex;
  gap: 1ch;
}

span.attachment {
  align-items: center;
  display: flex;
  gap: 1ch;
}

div.controls {
  align-items: center;
  display: flex;
  gap: 1ch;
}

div.controls button {
  margin-left: auto;
}

button {
  cursor: pointer;
}

time {
  color: gray;
  cursor: default;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead > tr > th {
  text-align: start;
}

tbody > tr:hover {
  background: whitesmoke;
}

@media (orientation: portrait) {
  html {
    display: flex;
    height: 100vh;
  }

  body {
    flex: 1;
  }

  div.list {
    flex: 1;
    overflow: auto;
  }

  div.composer {
    order: 2;
    position: sticky;
  }

  textarea {
    /* Prevent iOS Safari from zooming in when the user focuses the element */
    font-size: 16px;
  }
}
