@import url("./Composer.css");
@import url("./List.css");
@import url("./Item.css");
@import url("./VolumeExplorer.css");

body {
  display: flex;
  flex-direction: column;
  font: normal 12px sans-serif;
  gap: 1ch;
}

textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

time {
  color: gray;
  cursor: default;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead > tr > th {
  text-align: start;
}

tbody > tr:hover {
  background: whitesmoke;
}

code {
  background: whitesmoke;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 0 3px;
}
