@import url("./Composer.css");
@import url("./List.css");
@import url("./Item.css");
@import url("./VolumeExplorer.css");
@import url("./DatabaseExplorer.css");
@import url("./Tools.css");
@import url("./Stamp.css");

body {
  display: flex;
  flex-direction: column;
  font: normal 12px sans-serif;
  gap: 1ch;
}

textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead > tr > th {
  text-align: start;
}

tbody > tr:hover {
  background: whitesmoke;
}

code {
  background: whitesmoke;
  border: 1px solid silver;
  border-radius: 3px;
  padding: 0 3px;
}

pre {
  background: whitesmoke;
  border: 1px solid silver;
  border-radius: 3px;
  overflow: auto;
}

p {
  margin: 0;
}

ul {
  margin: 1ch 0;
  padding-left: 2ch;
}

ol {
  margin: 1ch 0;
  padding-left: 2.25ch;
}
