[class^="Item"] {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  &:hover {
    background: whitesmoke;
  }

  legend {
    align-items: center;
    display: flex;
    gap: 1ch;
  }

  .placeholder {
    color: gray;
  }

  .metadata {
    display: flex;
    gap: 1ch;
  }

  .attachment {
    align-items: center;
    display: flex;
    gap: 1ch;
  }

  input[type="file"] {
    display: none;
  }
}
