[class^="Item"] {
  border-left: 2px solid silver;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  padding: 1ch 1ch;

  button {
    visibility: hidden;
  }

  &:hover {
    background: whitesmoke;

    button {
      visibility: initial;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1ch;

    [class^="Stamp"] {
      margin-right: auto;
    }
  }

  .placeholder {
    color: gray;
  }

  .attachment {
    align-items: center;
    display: flex;
    gap: 1ch;
  }

  input[type="file"] {
    display: none;
  }
}
