[class^="MaskTweaker"] {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  .split {
    display: flex;
    gap: 1ch;

    textarea {
      flex: 1;
      font-family: monospace;
      white-space: nowrap;
    }

    iframe {
      flex: 1;
    }
  }
}
