[class^="RichText"] {
  p {
    align-items: center;
    display: flex;
    gap: 1ex;
  }

  pre {
    max-height: 200px;
    overflow: auto;

    div.added {
      color: green;
    }

    div.removed {
      color: maroon;
    }
  }
}
